.awrdDiv{

    background-color: #292929;
    padding: 2rem;
    border-radius: 20px;
}

.awrdTxtHd{

   
}


.meiraAwards{
    width: 70%;
    padding: 1rem;
    margin-top: 20%;
    border-radius: 50px;
}

.hidden {
  opacity: 0;
  transform: translateY(60px); /* start lower */
  transition: all 1.2s ease-in-out;
}

.visible {
  opacity: 1;
  transform: translateY(0); /* slide into normal position */
}


/* staggered delays */
.stagger1 {
  transition-delay: 0.2s;
}

.stagger2 {
  transition-delay: 0.4s;
}

.stagger3 {
  transition-delay: 0.6s;
}

.lineHidden {
  width: 0;
  height: 2px;
  background: #d0b673;  /* line color */
  transition: width 1s ease-out;
  margin: -10px auto; /* center horizontally */
}

.lineVisible {
  width: 40%; /* final width when visible */
}


.textShadow {
  font-size: 2.2rem;
  color: rgb(247, 217, 141);
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  font-family: Helvetica;
  text-align: center;
}




@media (min-width: 357px) and (max-width: 575px) {
 
.meiraAwards{
  
    width:65%;

  }
   
}
@media (min-width: 576px) and (max-width: 767px) {

  .meiraAwards{

    width: 100%;
  }

}
@media (min-width: 768px) and (max-width: 991px) {

  .meiraAwards{

    width: 90%;
  }

}
@media (min-width: 992px) and (max-width: 1199px){

    .meiraAwards{

      width: 90%;
  }

}