.prdPadding{
  overflow: hidden !important;
  
}

.prddiv{

  padding: 0rem 1rem 4rem 0rem !important;

}

.txtCatgry {
  font-family: 'Lato', sans-serif;
}


.moduleCard {
  background: white;
  border-radius: 8px;
  transition: all 0.2s ease;
  cursor: pointer;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 7px 1px rgba(10, 9, 9, 0.15);
 
}

   .moduleCard:hover{

    transform: scale(1.02);
}

.moduleIconContainer{

    display: flex;
    justify-content: center;
}


.meirafoodLogo{

    height: 85%;
    width : 100%;
    border-radius: 10px;
}


.imageWrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 250px;
}

.meirafoodLogo {
  max-width: 75%;
  max-height: 75%;
  /* object-fit: contain; */
  display: block;
  margin: auto;  
}

.loaderOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.customModalBody {
  max-height: 70vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customModalImage {
  max-height: 300px;
  width: auto;
  object-fit: contain;
}



@media   (min-width: 357px) and (max-width: 575px) {


  .moduleCard {
  background: white;
  border-radius: 8px;
  transition: all 0.2s ease;
  cursor: pointer;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 7px 1px rgba(10, 9, 9, 0.15);
  width: 100%;
}
.moduleCard:hover{

    transform: scale(0.5);
}

.navigation{

   height: 73vh;
}

.imageWrapper{

  height: 160px;
}


.moduleCard:hover{

    transform: unset !important;
}

}

@media (min-width: 576px) and (max-width: 767px) {

  .moduleCard:hover{

    transform: unset !important;
}
}

@media (min-width: 768px) and (max-width: 991px)  {

  .moduleCard:hover{

    transform: unset !important;

  }
}

@media (min-width: 992px) and (max-width: 1199px) {

  .moduleCard{

          background: white;
          border-radius: 8px;
          transition: all 0.2s ease;
          cursor: pointer;
          height: 100%;
          width: 100%;
          border: 1px solid rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 7px 1px rgba(10, 9, 9, 0.15);
    
  }

  .moduleCard:hover{

    transform: scale(0.5);
}
}

@media (min-width: 1200px){

    .moduleCard:hover{

    transform: scale(1.02);
}
}