.visionDiv{


    background-color: #F7F7F7;
    padding: 4rem;
}

.hdtxt{

    background-color: red;
    padding: 0.5rem;
    color: #F7F7F7;
}

.card{

    --bs-card-border-color : white !important;
}


.visonSec{

     box-shadow: 0 2px 7px 1.9px rgba(13, 11, 11, 0.39);
     border-radius: 15px;

}

.visonhdr{

    border-radius: 10px;
    background-color: #ffd865 !important;
}

.visionTxt{

    font-weight: 400;
    
}

.visonLogo{

    color: #dc3545 !important;
}
   

.visioneffct {
  opacity: 0;
  transform: translateY(20px);
}

.active {
  animation: slideUp 0.6s ease forwards;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}